/Code - OSS
/Electron
/GIMP
/QtProject.conf
/WebCord
/autostart
/cacert.pem
/dconf
/mimeapps.list
/obs-studio
/pavucontrol.ini
/spicetify
/spotify
/user-dirs.dirs
/user-dirs.locale
/xarchiver
/xdg-desktop-portal
/xdg-desktop-portal-kderc
/yay
/zed
btop/btop.log
/discord