window {
margin: 5px;
border: 1px solid #b7bdf8;
border-radius: 5px;
background-color: rgba(24, 25, 38, 0.9);
}

#input {
color: #cad3f5;
margin: 5px;
border: 1px solid #b7bdf8;
background-color: transparent;
}

#inner-box {
margin: 5px;
border: 0;
background-color: transparent;
}

#outer-box {
margin: 5px;
border: 0;
background-color: transparent;
}

#scroll {
margin: 5px;
border: 1px solid #b7bdf8;
border-radius: 5px;
background-color: rgba(20, 23, 25, 0.2);
}

#text {
color: #a5adcb;
margin: 5px;
border: 0;
background-color: transparent;
}

#entry:selected {
background-color: transparent;
}

#entry:selected #text {
color: #cad3f5;
}

